@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Frank+Ruhl+Libre:wght@500;700&family=Montserrat:wght@700&family=Oswald:wght@500&display=swap");
@font-face {
  font-family: my;
  src: url(/fonts/19.otf);
}

@font-face {
  font-family: pa;
  src: url(/fonts/14.otf);
}

@font-face {
  font-family: heading;
  src: url(/fonts/couture-bld.otf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

p {
  font-family: para;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

@media screen and (max-width: 980px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

header {
  background: #d3d7c9;
  height: 100%;
  position: relative;
}

header .container .header_text {
  position: relative;
  top: 240px;
  width: 100%;
  z-index: 1;
  text-align: center;
}

header .container .header_text p {
  color: #fff;
  text-transform: uppercase;
}

header .container .header_text p span {
  font-size: 10rem;
  font-family: my;
  display: block;
}

header .container .header_text p span:last-child {
  font-size: 12rem;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1426px) {
  header .container .header_text p span {
    font-size: 8rem;
  }
  header .container .header_text p span:last-child {
    font-size: 8rem;
  }
}

@media screen and (max-width: 980px) {
  header .container .header_text p span {
    font-size: 5rem;
  }
  header .container .header_text p span:last-child {
    font-size: 6rem;
  }
}

@media screen and (max-width: 565px) {
  header .container .header_text {
    top: 160px;
  }
  header .container .header_text p span {
    font-size: 3rem;
  }
  header .container .header_text p span:last-child {
    font-size: 4rem;
  }
}

header .backg {
  position: relative;
  z-index: 1;
  background: url("/images/background-min.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
}

span:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d3d7c9;
  z-index: 1;
  overflow: hidden;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

nav {
  padding: 20px;
  margin-bottom: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .box {
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
}

nav .social {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .social i {
  padding-right: 1rem;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
}

section {
  margin-top: 10px;
}

section .container .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section .container .row .text_side {
  width: 100%;
  max-width: 40%;
}

@media screen and (max-width: 980px) {
  section .container .row .text_side {
    max-width: 100%;
  }
}

section .container .row .img_side {
  width: 100%;
  max-width: 60%;
}

@media screen and (max-width: 980px) {
  section .container .row .img_side {
    max-width: 100%;
  }
}

@media screen and (max-width: 980px) {
  section .container .row {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
  }
}

.text_side .heading_name {
  position: relative;
}

.text_side .heading_name h1 {
  position: relative;
  text-transform: uppercase;
  color: #d2ae6e;
  font-size: 6rem;
  font-family: heading;
}

.text_side .heading_name h1:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  background: #d2ae6e;
  bottom: 30px;
  left: 0;
}

.text_side h3 {
  padding: 20px 0;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1426px) {
  .text_side .heading_name h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 980px) {
  .text_side .heading_name h1 {
    font-size: 3rem;
  }
  .text_side .heading_name h1:after {
    bottom: 10px;
  }
  .text_side h3 {
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
  }
  .text_side p {
    font-size: 1rem;
  }
}

.history-mini {
  position: relative;
}

.history-mini .container {
  z-index: 1;
  position: relative;
  top: 399px;
}

.history-mini .container .back_text p {
  color: #fff;
  font-size: 10rem;
  text-align: center;
  font-family: heading;
}

.history-mini .container .section_text {
  text-align: center;
}

.history-mini .container .section_text h4 {
  color: #fff;
  padding: 20px;
  font-size: 1.8rem;
  font-family: heading;
}

@media screen and (max-width: 1426px) {
  .history-mini .container .back_text p {
    font-size: 8rem;
  }
}

@media screen and (max-width: 980px) {
  .history-mini .container .back_text p {
    font-size: 4rem;
  }
  .history-mini .container .section_text h4 {
    font-size: 1.5rem;
  }
}

.history-mini .back {
  position: relative;
  top: -200px;
  background-image: url("/images/howrah2_banner_desktop_1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  height: 90vh;
}

@media screen and (max-width: 980px) {
  .history-mini .back {
    background-size: cover;
    height: 80vh;
    background-position: center center;
  }
}

.puja-mini {
  position: relative;
  height: 90vh;
}

.puja-mini .container {
  z-index: 1;
  position: relative;
  top: 299px;
}

.puja-mini .container .back_text p {
  color: #fff;
  font-size: 10rem;
  text-align: center;
  font-family: heading;
}

.puja-mini .container .section_text {
  text-align: center;
}

.puja-mini .container .section_text h4 {
  color: #fff;
  padding: 20px;
  font-size: 1.8rem;
  font-family: heading;
}

@media screen and (max-width: 1426px) {
  .puja-mini .container .back_text p {
    font-size: 8rem;
  }
}

@media screen and (max-width: 980px) {
  .puja-mini .container .back_text p {
    font-size: 4rem;
  }
  .puja-mini .container .section_text h4 {
    padding: 20px;
    font-size: 1.5rem;
  }
}

.puja-mini .back_puja {
  position: relative;
  top: -200px;
  background-image: url("/images/durga_god-min.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  height: 90vh;
}

@media screen and (max-width: 980px) {
  .puja-mini .back_puja {
    background-size: cover;
    height: 80vh;
    background-position: center center;
  }
}

.bird {
  position: absolute;
  bottom: -100px;
  right: 0;
  z-index: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.bird img {
  width: 200px;
}
/*# sourceMappingURL=main.css.map */