@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Frank+Ruhl+Libre:wght@500;700&family=Montserrat:wght@700&family=Oswald:wght@500&display=swap');
// mobile version
@import 'media';
// font family
$Archivo: 'Archivo', sans-serif;
$Frank: 'Frank Ruhl Libre', serif;
$Montserrat: 'Montserrat', sans-serif;
// font-family: 'Oswald', sans-serif;
@font-face {
	font-family: my;
	src: url(/fonts/19.otf);
}
@font-face {
	font-family: pa;
	src: url(/fonts/14.otf);
}
@font-face {
	font-family: heading;
	src: url(/fonts/couture-bld.otf);
}
// color
$bg: #d3d7c9;
$heding: #d2ae6e;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	width: 100%;
}
p {
	font-family: para;

	letter-spacing: 1px;
	word-spacing: 2px;
}
.container {
	width: 100%;
	max-width: 1600px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 50px;
	padding-left: 50px;
	@include mobile {
		padding-left: 20px;
		padding-right: 20px;
	}
}
// header section start
header {
	background: $bg;
	height: 100%;
	position: relative;
	// padding-bottom: 1rem;
	.container {
		.header_text {
			// position: absolute;
			position: relative;
			top: 240px;
			// padding-top: 1rem;
			width: 100%;
			z-index: 1;
			text-align: center;
			p {
				color: #fff;
				text-transform: uppercase;
				span {
					font-size: 10rem;
					font-family: my;
					display: block;
				}
				span:last-child {
					font-size: 12rem;
					font-family: $Montserrat;
				}
				// responsive
			}
			@include tab {
				p {
					span {
						font-size: 8rem;
					}
					span:last-child {
						font-size: 8rem;
					}
				}
			}
			@include mobile {
				p {
					span {
						font-size: 5rem;
					}
					span:last-child {
						font-size: 6rem;
					}
				}
			}
			@include mini {
				top: 160px;
				p {
					span {
						font-size: 3rem;
					}
					span:last-child {
						font-size: 4rem;
					}
				}
			}
		}
	}
	.backg {
		position: relative;
		z-index: 1;
		background: url('/images/background-min.png');
		background-repeat: no-repeat;
		background-position: center;
		// background-size: 100%;
		background-size: cover;

		height: 90vh;
		@include tab {
			// background-size: 100% 100%;
		}
	}
}

span:after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: $bg;
	z-index: 1;
	overflow: hidden;
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}
// navbar
nav {
	padding: 20px;
	margin-bottom: 0rem;
	display: flex;
	justify-content: space-between;
	.box {
		font-size: 1.8rem;
		color: #fff;
		cursor: pointer;
	}
	.social {
		text-align: center;
		display: flex;
		i {
			padding-right: 1rem;
			color: #fff;
			font-size: 1.6rem;
			cursor: pointer;
		}
	}
}
// history part start
section {
	margin-top: 10px;
	.container {
		.row {
			align-items: center;
			justify-content: center;
			// align-items: center;
			padding: 2rem;
			display: flex;
			flex-wrap: wrap;
			.text_side {
				width: 100%;
				max-width: 40%;
				@include mobile {
					max-width: 100%;
				}
			}
			.img_side {
				width: 100%;
				max-width: 60%;

				@include mobile {
					max-width: 100%;
				}
			}
			@include mobile {
				width: 100%;
				flex-direction: column;
				padding: 1rem;
			}
		}
	}
}

.text_side {
	.heading_name {
		position: relative;
		h1 {
			position: relative;
			text-transform: uppercase;
			color: $heding;
			font-size: 6rem;
			font-family: heading;
		}
		h1:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 10px;

			background: $heding;
			bottom: 30px;
			left: 0;
			// left: -500px;
		}
	}
	h3 {
		padding: 20px 0;
		font-size: 1.8rem;
		font-family: $Montserrat;
	}
	// responsive
	@include tab {
		.heading_name {
			h1 {
				font-size: 4rem;
			}
		}
	}
	@include mobile {
		.heading_name {
			h1 {
				font-size: 3rem;
			}
			h1:after {
				bottom: 10px;
			}
		}
		h3 {
			font-size: 1.4rem;
			font-family: $Montserrat;
		}
		p {
			font-size: 1rem;
		}
	}
}

.history-mini {
	position: relative;
	// height: 90vh;
	.container {
		z-index: 1;
		position: relative;
		top: 399px;
		.back_text {
			p {
				color: #fff;
				font-size: 10rem;
				text-align: center;
				font-family: heading;
			}
		}
		.section_text {
			text-align: center;
			h4 {
				color: #fff;
				padding: 20px;
				font-size: 1.8rem;
				font-family: heading;
			}
		}
		// resposive add
		@include tab {
			.back_text {
				p {
					font-size: 8rem;
				}
			}
		}
		@include mobile {
			.back_text {
				p {
					font-size: 4rem;
				}
			}
			.section_text {
				h4 {
					font-size: 1.5rem;
				}
			}
		}
	}

	.back {
		// position: fixed;
		position: relative;

		top: -200px;
		background-image: url('/images/howrah2_banner_desktop_1920x1080.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center center;
		filter: blur(4px);
		-webkit-filter: blur(4px);

		height: 90vh;
		@include tab {
			// background-size: cover;
			// height: 80vh;
			// background-position: -400px center;
		}
		@include mobile {
			background-size: cover;
			height: 80vh;
			background-position: center center;
		}
	}
}
// puja section
.puja-mini {
	position: relative;
	height: 90vh;

	.container {
		z-index: 1;
		position: relative;
		top: 299px;
		.back_text {
			p {
				color: #fff;
				font-size: 10rem;
				text-align: center;
				font-family: heading;
			}
		}
		.section_text {
			text-align: center;
			h4 {
				color: #fff;
				padding: 20px;
				font-size: 1.8rem;
				font-family: heading;
			}
		}
		// resposive add
		@include tab {
			.back_text {
				p {
					font-size: 8rem;
				}
			}
		}
		@include mobile {
			.back_text {
				p {
					font-size: 4rem;
				}
			}
			.section_text {
				h4 {
					padding: 20px;
					font-size: 1.5rem;
				}
			}
		}
	}
	.back_puja {
		position: relative;
		top: -200px;
		background-image: url('/images/durga_god-min.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center center;
		filter: blur(1px);
		-webkit-filter: blur(1px);
		height: 90vh;

		@include mobile {
			background-size: cover;
			height: 80vh;
			background-position: center center;
		}
	}
}

.bird {
	position: absolute;
	bottom: -100px;
	right: 0;

	// width: 100%;
	z-index: 0;
	// opacity: 0.6;
	align-items: center;
	justify-content: center;
	text-align: center;
	img {
		width: 200px;
	}
}
