@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Frank+Ruhl+Libre:wght@500;700&family=Montserrat:wght@700&family=Oswald:wght@500&display=swap');
// mobile version
@import 'media';
// font family
$Archivo: 'Archivo', sans-serif;
$Frank: 'Frank Ruhl Libre', serif;
$Montserrat: 'Montserrat', sans-serif;
// font-family: 'Oswald', sans-serif;
@font-face {
	font-family: my;
	src: url(/fonts/19.otf);
}
@font-face {
	font-family: pa;
	src: url(/fonts/14.otf);
}
@font-face {
	font-family: heading;
	src: url(/fonts/couture-bld.otf);
}
// color
$bg: #d3d7c9;
$heding: #d2ae6e;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	width: 100%;
}
p {
	font-family: para;

	letter-spacing: 1px;
	word-spacing: 2px;
}
.container {
	width: 100%;
	max-width: 1600px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 50px;
	padding-left: 50px;
	@include mobile {
		padding-left: 20px;
		padding-right: 20px;
	}
}

header {
	background: $bg;
	height: 100%;
	position: relative;
	// padding-bottom: 1rem;
	.container {
		nav {
			padding: 20px;
			margin-bottom: 0rem;
			display: flex;
			justify-content: space-between;
			.social {
				display: flex;
			}
		}
		.header_text {
			// position: absolute;
			position: relative;
			top: 240px;
			// padding-top: 1rem;
			width: 100%;
			z-index: 0;
			text-align: center;
			p {
				text-transform: uppercase;
				span {
					font-size: 10rem;
					font-family: my;
					display: block;
				}
				span:last-child {
					color: #fff;
					font-size: 12rem;
					font-family: $Montserrat;
				}
			}
		}
	}
	.back {
		position: relative;
		z-index: 1;
		background: url('/images/background-min.png');
		background-repeat: no-repeat;
		background-position: center;
		// background-size: 100%;
		background-size: cover;

		height: 90vh;
		@include tab {
			// background-size: 100% 100%;
		}
	}
}

// history part start
section {
	margin-top: 20px;
	.container {
		.row {
			align-items: center;
			justify-content: center;
			// align-items: center;
			padding: 2rem;
			display: flex;
			flex-wrap: wrap;
			.text_side {
				width: 100%;
				max-width: 40%;
				@include mobile {
					max-width: 100%;
				}
			}
			.img_side {
				width: 100%;
				max-width: 60%;

				@include mobile {
					max-width: 100%;
				}
			}
			@include mobile {
				width: 100%;
				flex-direction: column;
			}
		}
	}
}

.text_side {
	// padding-right: 3rem;
	.heading_name {
		// padding: 20px;
		position: relative;
		h1 {
			position: relative;
			text-transform: uppercase;
			color: $heding;
			font-size: 6rem;
			font-family: heading;
			// overflow: hidden;
			// display: block;
		}
		h1:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 10px;

			background: $heding;
			bottom: 30px;
			left: 0;
			// left: -500px;
		}
	}
	h3 {
		padding: 20px 0;
		font-size: 1.8rem;
		font-family: $Montserrat;
	}
}
